@tailwind base;
@tailwind components;
@tailwind utilities;



.cours {
    background-image: url("src/assets/banner-images/home-page-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}